/* Styles globaux */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Supprime la barre de défilement verticale */
    font-family: Arial, sans-serif;
}

/* Bannière fixe en haut */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu-icon {
    position: absolute;
    left: 20px;
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.logo-center {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.padlock-button {
    position: absolute;
    right: 20px;
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.padlock-button:hover {
    transform: scale(1.1);
}


/* Menu déroulant */
.dropdown-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
    width: 200px;
    display: none;
    flex-direction: column;
    z-index: 1001;
    pointer-events: none;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
    text-align: center;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}

/* Formulaire de mot de passe */
.password-form {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgba(51, 51, 51, 0.9);
    color: white;
    display: none; /* Caché par défaut */
    flex-direction: column;
    align-items: center;
    z-index: 1002;
    border-radius: 10px;
}

.password-form h2 {
    margin: 0 0 20px;
}

.password-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ba9991;
    color: white;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.password-form button:hover {
    background-color: #a07d6f;
}

/* Contenu sous la bannière */
.content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10vh); /* Prend tout l'espace disponible sous la bannière */
    padding: 20px;
    position: relative;
    background-image: url('Fond.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Assure que rien ne dépasse */
}

/* Superposition semi-transparente */
.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* Texte centré */
.centered-text {
    margin-bottom: 0px;
    color: #ba9991;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    z-index: 2;
    text-align: center;
}

/* Conteneur pour les boutons d'image */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    margin-top: 0px;
    margin-bottom: 100px; /* Espace ajusté pour aligner avec le compte à rebours */
    z-index: 2;
}

/* Styles pour les boutons d'image */
.button {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button:hover {
    transform: scale(1.1);
}




/* Conteneur pour le bouton et le compte à rebours */
.bottom-container {
    position: fixed; /* Reste en bas de la page */
    bottom: 20px; /* Marge à partir du bas de la page */
    left: 0;
    right: 0; /* Élargit le conteneur pour s'étendre sur toute la largeur */
    display: flex; /* Utilise flexbox pour l'alignement */
    justify-content: space-between; /* Espacement entre les éléments */
    padding: 0 20px; /* Ajoute un peu d'espace sur les côtés */
    z-index: 1000; /* Assure que le conteneur est au-dessus des autres éléments */
}



/* Compte à rebours */
.countdown {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1000;
}


/* Style pour le bouton en bas à gauche */
.bottom-left-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.bottom-left-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

/* Fenêtre modale pour le calendrier */
.calendar-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgba(51, 51, 51, 0.9);
    color: white;
    display: none; /* Caché par défaut */
    flex-direction: column;
    align-items: center;
    z-index: 1002;
    border-radius: 10px;
}

.calendar-modal h2 {
    margin-bottom: 20px;
}

.calendar-option {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ba9991;
    color: white;
    transition: background-color 0.3s;
}

.calendar-option:hover {
    background-color: #a07d6f;
}



/* Contenu spécifique à LaDate.html */
.ladate-content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10vh); /* Prend tout l'espace disponible sous la bannière */
    padding: 20px;
    position: relative;
    background-image: url('Fond.jpg'); /* Assurez-vous que le fond est le même ou ajustez si nécessaire */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Assure que rien ne dépasse */
}

/* Superposition semi-transparente spécifique à LaDate.html */
.ladate-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* Alignement du texte et de la vidéo */
.ladate-centered-text {
    margin-bottom: 20px; /* Ajuste l'espace entre le texte et la vidéo */
    color: #ba9991;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    z-index: 2;
    text-align: center;
}

/* Styles pour le conteneur de la vidéo */
.video-container {
    display: flex; /* Utilise Flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement le conteneur */
    width: 100%; /* Assure que le conteneur occupe toute la largeur disponible */
    margin-bottom: 20px; /* Espace sous le conteneur de la vidéo */
    z-index: 2;
}

/* Assure que la vidéo occupe toute la largeur du conteneur tout en conservant les proportions */
video {
    width: 300px;
    max-width: 100%; /* Assure que la vidéo ne dépasse pas la largeur du conteneur */
    height: auto; /* Maintient les proportions de la vidéo */
}



/* Styles réactifs pour les petits écrans */
@media (max-width: 600px) {
    .banner {
        height: 12vh;
    }

    .logo-center {
        max-height: 60%;
        max-width: 60%;
    }

    .padlock-button,
    .menu-icon {
        height: 40%;
    }

    .content {
        height: calc(100vh - 12vh); /* Ajustement pour petits écrans */
        margin-top: 0; /* Supprime l'espace au-dessus du contenu pour rapprocher le texte et les boutons de la bannière */
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Assure que le contenu est centré verticalement */
    }

    .centered-text {
        font-size: 15px;
        margin-bottom: 0px; /* Réduit l'espace sous le texte */
    }

    .buttons-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px; /* Réduit l'espace entre les boutons */
        margin-top: 0px; /* Réduit l'espace au-dessus des boutons */
        margin-bottom: 20px; /* Réduit l'espace en bas avant le compte à rebours */
    }

    .button {
        width: 120px;
        height: 120px;
    }

    .bottom-container {
        display: grid; /* Utilise grid sur petits écrans */
        grid-template-columns: 1fr; /* Une seule colonne */
        align-items: center; /* Centre verticalement les éléments */
        bottom: 10px; /* Ajuste la marge du bas */
    }

    .bottom-left-button {
        margin-bottom: 10px; /* Marge entre le bouton et le compte à rebours */
    }   

    .countdown {
        font-size: 1em;
        padding: 8px 16px;
    }
    
       /* Ajuste la hauteur du conteneur pour petits écrans */
    .ladate-content {
        height: calc(100vh - 12vh); /* Ajuste l'espace pour tenir compte d'une bannière plus haute sur petits écrans si nécessaire */
        padding: 10px;
    }

    /* Ajuste la taille du texte */
    .ladate-centered-text {
        font-size: 15px; /* Réduit la taille de la police pour les petits écrans */
        margin-bottom: 0px; /* Réduit l'espace sous le texte */
    }

    /* Ajuste la taille et l'espacement de la vidéo */
    .video-container {
        width: 90%; /* Augmente la largeur de la vidéo pour mieux s'adapter aux petits écrans */
        max-width: 100%; /* Assure que la vidéo ne dépasse pas la largeur du conteneur */
        margin-bottom: 20px; /* Réduit l'espace sous la vidéo */
    }

    /* Assure que la vidéo occupe toute la largeur disponible */
    video {
        width: 240px;
    }
}
